/* animations.css */

/* Add a fade-in animation to the section#home when it comes into view */
section#home {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
  scroll-margin-top: 100vh;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Add a slide-up animation to the .service elements in section#services when they come into view */
section#services .service {
  transform: translateY(100px);
  opacity: 0;
  scroll-margin-top: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes slide-up {
    from {
      transform: translateY(100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  section#services .service {
    animation: slide-up 1s ease-in-out forwards;
  }
}
